RAPIDAPI_KEY=your_rapidapi_key_here
RAPIDAPI_HOST=advanced-movie-search.p.rapidapi.com
RAPIDAPI_IMDB_HOST=imdb-top-1000-movies-series.p.rapidapi.com
RAPIDAPI_FLIXSTER_HOST=flixster.p.rapidapi.com
RAPIDAPI_FRENCH_CINEMA_HOST=french-cinema-showtimes-api.p.rapidapi.com
